* {
    margin: 0;
}
body {
    font-family: "Creepster", system-ui;
}
.burger {
    background: linear-gradient(157deg,rgba(247, 7, 7, 1) 0%, rgba(193, 78, 22, 1) 35%, rgba(125, 76, 7, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 91px;
    height: 100vh;
    padding: 3rem;
}
.MC-DO {
    height: 684px;
    width: 684px;
    padding: 3rem;
}
.relative {
    position: relative;
}
.supplémentOne {
    position: absolute;
    top: -470px;
    right: 0;
    width: 1828px;
}
.supplémentTwo {
    position: absolute;
    top: 298px;
    right: 0;
    width: 214px;
}
.map {
    background: rgb(206, 142, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    height: 100vh;
}
.france {
    padding: 1.5rem 0 1.5rem 0;
}
.logo {
    font-size: 100px;
}
.about{
    background: rgb(228, 189, 138);
    display: flex;
    align-items: center;
    font-size: 50px;
    padding: 3rem;

}
.smash {
    font-size: 90px;
    padding: 2rem;
}

/* ********************Responsive********************* */

    @media screen and (max-width: 1282px) {
        .burger {
            display:block;
            text-align: center;
        }
        .supplémentOne {
            position: absolute;
            top: -790px;
            right: 0;
            width: 1942px;
}
        .supplémentTwo {
            position: absolute;
            top: -265px;
            right: 0;
            width: 295px;
        }
    }
    @media screen and (max-width: 1215px){
        .burger {
            display: block;
            font-size: 90px;
            text-align: center;
        
        }
        .MC-DO {
            height: 498px;
            width: 642px;
            padding: 3rem;
        }
        .supplémentOne {
            position: absolute;
            top: -628px;
            right: 0;
            width: 1950px;
        }
        .supplémentTwo {
            position: absolute;
            top: -195px;
            right: 0;
            width: 285px;
        }
    }
    @media screen and (max-width:1045px){
        .supplémentOne {
            position: absolute;
            top: -614px;
            right: 0;
            width: 1695px;
        }
        .supplémentTwo {
            position: absolute;
            top: -230px;
            right: 0;
            width: 216px;
        }
        .map {
            font-size: 63px;
        }
    }
    @media screen and (max-width: 1028px){
        .burger {
            display: block;
            font-size: 77px;
            text-align: center;
        }
        .MC-DO {
            height: 507px;
            width: 614px;
            padding: 3rem;
        }
        .about {
            display: block;
            text-align: center;
        }
    }
    @media screen and (max-width: 991px){
        .supplémentOne {
            position: absolute;
            top: -614px;
            right: 0;
            width: 1570px;
        }
        .map {
            font-size: 49px;
        }        
    }
    @media screen and (max-width: 963px){
        .supplémentTwo {
            position: absolute;
            top: -172px;
            right: 0;
            width: 211px;
        }
    }
     @media screen and (max-width: 945px){
        .burger {
            display: block;
            font-size: 63px;
            height: 80vh;
            text-align: center;
        }
        .supplémentOne {
            position: absolute;
            top: -549px;
            right: 0;
            width: 1491px;
        }
        .MC-DO {
            height: 442px;
            width: 528px;
            padding: 3rem;
        }
    }
    @media screen and (max-width: 905px){
        .supplémentOne {
            display: none;
        }
        .supplémentTwo {
            display: none;
        }
    }
    @media screen and (max-width: 752px){
        .burger {
            display: block;
            font-size: 55px;
            height: 80vh;
            text-align: center;
        }
         .map {
            font-size: 42px;
        }
    }
    @media screen and (max-width: 649px){
         .MC-DO {
            height: 398px;
            width: 449px;
            padding: 3rem;
        }
          .map {
            font-size: 35px;
        }
    }
    @media screen and (max-width: 601px){
        .map {
            height: 80vh;
        }
    }