* {
    margin: 0;
}
body {
    font-family: "Creepster", system-ui;
}
.burger {
    background: linear-gradient(157deg,rgba(247, 7, 7, 1) 0%, rgba(193, 78, 22, 1) 35%, rgba(125, 76, 7, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 107px;
    height: 100vh;
    padding: 3rem;
}
.MC-DO {
    height: 700px;
    width: 700px;
}
.relative {
    position: relative;
}
.supplémentOne {
    position: absolute;
    top: -438px;
    right: 0;
    width: 1807px;
}
.supplémentTwo {
    position: absolute;
    top: 296px;
    right: 0;
    width: 213px;
}
.map {
    background: rgb(206, 142, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    height: 100vh;
}
.france {
    padding: 1.5rem 0 1.5rem 0;
}
.logo {
    font-size: 100px;
}
.about{
    background: rgb(228, 189, 138);
    display: flex;
    align-items: center;
    font-size: 50px;
    padding: 3rem;

}
.smash {
    font-size: 90px;
    padding: 2rem;
}

/* @media screen and (max-width: 800px) {

} */